{%  extends 'template.html.twig' %}
{% block Title %}
    tableau
{%  endblock %}
{% block body%}
<table class="table">
    {% for note in notes %}
    <tr>
        <td>{{ note }}</td>
    </tr>
    {% endfor %}
</table>
<div class="alert alert-info">
<p>nombre de notes: {{ notes|length }}</p>
<p>note minimale: {{ min(notes)}}</p>
<p>note maximale: {{max(notes)}}</p>
</div>
{%  endblock
%}