{% extends 'template.html.twig'
    %}
{%  block Title %}
    {{ firstname }} {{ name }}
{%  endblock %}

{% block body %}
<div>
    <h1>
        With love from {{ firstname }}  {{ name }}
    </h1>
</div>
<p>Bonjour coucou</p>

{%  endblock %}